/br.com.totvs.tds.server.internal.ServerManagerImpl.servers
.vscode/launch.json
.vscode/settings.json
INCLUDES/ap5mail.ch
INCLUDES/ap5sdu.ch
INCLUDES/apevent.ch
INCLUDES/aplrd.ch
INCLUDES/aprpm.ch
INCLUDES/apvisio.ch
INCLUDES/apweb.ch
INCLUDES/apwebex.ch
INCLUDES/apwebsrv.ch
INCLUDES/apwizard.ch
INCLUDES/avprint.ch
INCLUDES/avutils.ch
INCLUDES/axsdef.ch
INCLUDES/birtdataset.ch
INCLUDES/colors.ch
INCLUDES/common.ch
INCLUDES/constant.ch
INCLUDES/dbfcdxax.ch
INCLUDES/dbinfo.ch
INCLUDES/dbstruct.ch
INCLUDES/dbtree.ch
INCLUDES/dialog.ch
INCLUDES/dwacts.ch
INCLUDES/dwconst.ch
INCLUDES/dwdefs.ch
INCLUDES/dwerror.ch
INCLUDES/dwincs.ch
INCLUDES/dwtable.ch
INCLUDES/dwtconst.ch
INCLUDES/dwver.ch
INCLUDES/eicconst.ch
INCLUDES/error.ch
INCLUDES/fileio.ch
INCLUDES/filterex.ch
INCLUDES/folder.ch
INCLUDES/font.ch
INCLUDES/fw_poscss.ch
INCLUDES/fwadapterdef.ch
INCLUDES/fwadaptereai.ch
INCLUDES/FWAdvplExpression.ch
INCLUDES/fwamqp.ch
INCLUDES/fwballoon.ch
INCLUDES/fwbrowse.ch
INCLUDES/fwcalendarwidget.ch
INCLUDES/fwcommand.ch
INCLUDES/fwcss.ch
INCLUDES/fweditpanel.ch
INCLUDES/fweventviewconsts.ch
INCLUDES/fwfilter.ch
INCLUDES/fwfilterask.ch
INCLUDES/fwiconmessage.ch
INCLUDES/fwlibversion.ch
INCLUDES/fwmbrowse.ch
INCLUDES/fwmenudrop.ch
INCLUDES/fwmiledef.ch
INCLUDES/fwmvcdef.ch
INCLUDES/fwodataexpression.ch
INCLUDES/fwportal.ch
INCLUDES/fwprintsetup.ch
INCLUDES/fwschedule.ch
INCLUDES/fwsmallapplication.ch
INCLUDES/fwsourcestack.ch
INCLUDES/fwstr.ch
INCLUDES/fwstyle.ch
INCLUDES/fwstyocean.ch
INCLUDES/fwstystand.ch
INCLUDES/fwstysunse.ch
INCLUDES/fwtableattach.ch
INCLUDES/fwticket.ch
INCLUDES/hbutton.ch
INCLUDES/IdxDefException.ch
INCLUDES/idxindex.ch
INCLUDES/idxsearch.ch
INCLUDES/IdxSrvException.ch
INCLUDES/initvars.ch
INCLUDES/jpeg.ch
INCLUDES/mexcel.ch
INCLUDES/mp_monitor.ch
INCLUDES/mpdic.ch
INCLUDES/mproject.ch
INCLUDES/mpsysimportdb.ch
INCLUDES/mscolors.ch
INCLUDES/msexcel.ch
INCLUDES/msgraphi.ch
INCLUDES/msmgadd.ch
INCLUDES/msmgetpr.ch
INCLUDES/msobject.ch
INCLUDES/msole.ch
INCLUDES/mspj010.ch
INCLUDES/mspj020.ch
INCLUDES/mspj030.ch
INCLUDES/mspj040.ch
INCLUDES/mspj050.ch
INCLUDES/mspj060.ch
INCLUDES/mspj070.ch
INCLUDES/mspj080.ch
INCLUDES/msproject.ch
INCLUDES/msserial.ch
INCLUDES/msxl010.ch
INCLUDES/msxl020.ch
INCLUDES/msxl030.ch
INCLUDES/msxl040.ch
INCLUDES/msxl060.ch
INCLUDES/msxl070.ch
INCLUDES/OfficeEvents.ch
INCLUDES/OfficeInfo.ch
INCLUDES/OfficeTheme.ch
INCLUDES/ole.ch
INCLUDES/olecont.ch
INCLUDES/panelonline.ch
INCLUDES/parmtype.ch
INCLUDES/parmtypech.ch
INCLUDES/prbtvdef.ch
INCLUDES/prconst.ch
INCLUDES/prctrdef.ch
INCLUDES/print.ch
INCLUDES/protdef.ch
INCLUDES/protheus.ch
INCLUDES/prtopdef.ch
INCLUDES/ptmenu.ch
INCLUDES/quicksearch.ch
INCLUDES/relcmd.ch
INCLUDES/report.ch
INCLUDES/restful.ch
INCLUDES/rptdef.ch
INCLUDES/rwmake.ch
INCLUDES/scrollbx.ch
INCLUDES/set.ch
INCLUDES/shell.ch
INCLUDES/sigawin.ch
INCLUDES/stdwin.ch
INCLUDES/stilo.ch
INCLUDES/tbicode.ch
INCLUDES/tbiconn.ch
INCLUDES/tcbrowse.ch
INCLUDES/tcfilterex.ch
INCLUDES/tdsbirt.ch
INCLUDES/topconn.ch
INCLUDES/totvs.ch
INCLUDES/totvsparam.ch
INCLUDES/totvstws.ch
INCLUDES/vkey.ch
INCLUDES/winapi.ch
INCLUDES/xmlxfun.ch
advplgit.code-workspace
logs/xvba_debug.log
